<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/produtos.css">
    <title>Produtos</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Orbitron:wght@600&display=swap"
        rel="stylesheet" />
</head>

<body>
    <header>
        <div class="logo">232 store</div>
        <nav>
            <ul>
                <li><a href="../index.html" class="nav">Home</a></li>
                <li><a href="./produtos.html" class="nav">Produtos</a></li>
                <li><a href="./sobreNós.html" class="nav">Sobre</a></li>
            </ul>
        </nav>
    </header>



    <main class="container">
        <h1 class="titulo">Nossos Produtos</h1>

        <div class="produtos-grid">
            <div class="produto">
                <img src="../img/apple-watch.png" alt="Apple Watch" />
                <h2>Apple Watch Series 10</h2>
                <p>O smartwatch mais avançado do mercado. Monitoramento de saúde, GPS, AMOLED.</p>
                <button class="btn">Comprar</button>
            </div>

            <div class="produto">
                <img src="../img/air-pods.png" alt="Air Pods Max" />
                <h2>Air Pods Max</h2>
                <p>Som premium com cancelamento de ruído e conforto total.</p>
                <button class="btn">Comprar</button>
            </div>

            <div class="produto">
                <img src="../img/vision-pro.png" alt="Vision Pro" />
                <h2>Vision Pro</h2>
                <p>Realidade aumentada com o melhor da tecnologia Apple.</p>
                <button class="btn">Comprar</button>
            </div>
        </div>
    </main>

    <footer>
        &copy; Pedro Rodrigues Almeida
    </footer>
</body>